<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>

<body>
<div class="container"> <!--div는 웹페이지의 논리적인 구분을 정해주는 역할-->
  <h1>Article</h1>
  <tr th:each="article : ${articles}">
    <td th:text="${article.title}"></td>
  </tr>
  <div>
    <table th:each="article : ${article}"> <!-- table 태그는 표를 만드는 태그 -->
      <thead>
      <tr>
        <th th:text="${article.title}"></th>
      </tr>
      </thead>
      <p>
        <tbody>
        <tr>
          <td th:text="${article.content}"></td>
        </tr>
        </tbody>
      </p>
      <tfoot>
      <td>글 작성한 시간:</td>
      <td th:text="${article.createdTime}"></td>
      </tfoot>
    </table>
  </div>
</div>
</body>
</html>
