<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>

<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>게시글</h2>
  </div>

  <button class="btn btn-dark pull-right"
          onclick="location.href='page/board.html'"
          th:onclick="|location.href='@{/board}'|"
          type="button">게시판으로
  </button>

  <div>
    <label for="articleId">게시판번호</label>
    <input type="text" id="articleId" name="articleId" class="form-control"
           value="1" th:value="${article.id}" readonly>
  </div>

  <div>
    <label for="articleTitle">제목</label>
    <input type="text" id="articleTitle" name="articleTitle" class="form-control"
           value="제목" th:value="${article.title}" readonly>
  </div>
  <div>
    <label for="articleContent">내용</label>
    <textarea class="form-control" rows="5"
              id="articleContent" name="articleContent"
              th:value="${article.content}" th:text="${article.content}" readonly></textarea>
  </div>
  <div>
    <label for="writer">작성자</label>
    <input type="text" id="writer" name="writer" class="form-control"
           value="작성자" th:value="${article.writer.name}" readonly>
  </div>
  <div>
    <label for="createdTime">작성일</label>
    <input type="text" id="createdTime" name="createdTime" class="form-control"
           value="작성자" th:value="${article.createdTime}" readonly>
  </div>
  <hr class="my-4">

  <form th:action="@{/board/{postId}/delete(articleId=${article.id})}" method="post">
    <button class="btn btn-primary"
            th:onclick="|location.href='@{/board/{articleId}/edit(articleId=${article.id})}'|"
            type="button">수정
    </button>

    <button class="btn btn-danger" type="submit">삭제</button>
  </form>

</div>
</body>
</html>
