<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>

<body>
<div class="container"> <!--div는 웹페이지의 논리적인 구분을 정해주는 역할-->
  <div>
    <table> <!-- table 태그는 표를 만드는 태그 -->
      <thead>
      <!-- thead 태그는 table의 헤더 콘텐츠들을 하나로 묶을 때 쓰인다함.head,body,footer등을 명시하기 위해 tbody,tfooter와 함께 쓰인다함 -->
      <tr> <!--table의 가로줄을 만듬. table row의 약자-->
        <th>#</th> <!--table의 세로줄을 만듬. table head의 약자-->
        <th>이름</th>
      </tr>
      </thead>
      <tbody> <!--table의 body를 구분해주는 역할-->
      <tr th:each="article : ${articles}"> <!--members에서 값을 뽑아 반복 -->
        <td th:text="${article.id}"></td> <!--멤버의 id를 text로 표시하는 듯-->
        <td th:text="${article.title}"></td> <!--멤버의 name을 text로 표시하는 듯-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
