<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>

<body>
<div class="container">
  <div class="py-5 text-center">
    <h1>Login</h1>
  </div>
  <form action="article.html" th:action th:object="${loginForm}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}"
         th:text="${err}">전체 오류 메시지</p>
    </div>

    <div>
      <label for="name">이름</label>
      <input type="text" id="name" th:field="*{name}" class="form-control"
             th:errorclass="field-error">
      <div class="field-error" th:errors="*{name}"/>
    </div>

    <div>
      <label for="password">비밀번호</label>
      <input type="password" id="password" th:field="*{password}"
             class="form-control"
             th:errorclass="field-error">
      <div class="field-error" th:errors="*{password}"/>
    </div>

    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">
          로그인
        </button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/}'|"
                type="button">취소
        </button>
      </div>

      <div class="col">
        <button class="w-100 btn btn-success"
                th:onclick="|location.href='@{/oauth2/authorization/google}|"
                type="button">google login</button>
<!--        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google-->
<!--          Login</a>-->
      </div>

      <div class="col">
        <button class="w-100 btn btn-success"
                th:onclick="|location.href='@{/logout}|"
                type="button">logout</button>
<!--        <a href="/logout" class="btn btn-info active" role="button">Logout</a>-->
      </div>

    </div>
  </form>
</div>
</body>
</html>
