<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <div class="container" style="max-width: 600px">
    <div>
      <p>
        <a href="/">Home</a>
        <a href="/user/login">로그인</a>
        <a href="/register">회원 가입</a>
        <a href="/board/article/write">글쓰기</a>
        <a href="/board">게시판</a>
      </p>
    </div>
  </div>

  <style>
    .container {
    max-width: 560px;
    }
    .field-error {
    bored-color: #dc3545;
    color: #dc3545;
    }
  </style>
</div>
</html>
